.wrapper {
  display: flex;

  padding: 20px;
  color: rgba(10, 28, 127, 0.807);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);

  box-shadow: 3;
  box-shadow: 0 0 20px 4px rgb(6, 41, 74);
  margin-bottom: 20px;
  justify-content: space-between;
}
