.wrapper {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  & button {
    background-color: rgba(39, 180, 190, 0.121);
    border: 1px solid black;
  }
}
