:root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  text-align: center;
  color: blue;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: rgba(127, 255, 212, 0.175);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --color-red: red;
}
.global {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}
